@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  padding: 20px;
  background: #252526;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400; 
}
